<div>
  <div>
    <% if (condition) { %>
    <% } else if (condition) { %>
    <% } %>
  </div>

  <div class="<%= red %>"><%= 1 > 0 %></div>

  <div class="flex items-center gap-4">
    <code><%= text %></code>
    <pre><%= text %></pre>
  </div>
</div>
